.home-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-left: 5%;
  margin-right: 5%;
  height: 100%;
  overflow: scroll;
}

.home-video-container {
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 20%;
  margin: 1%;
}

.home-video {
  border: none;
  max-width: 100%;
  max-height: 100%;
}
.home-div {
  width: 100%;
  height: 100%;
  background-size: contain;
}

.home-video-content {
  padding-left: 5%;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.top-content {
  display: flex;
  flex-direction: row;
  margin-top: 2%;
}

.home-img {
  height: 24px;
  width: 24px;
  min-height: 24px;
  min-height: 24px;
  background-size: contain;
  border-radius: 50%;
  /* margin-right: 5%; */
  /* align-self: center; */
  background-repeat: no-repeat;
}

.home-likes {
  margin-left: 5%;
  font-size: 14px;
  align-self: center;
  color: #aaaaaa;
  display: flex;
}

.home-profile-name {
  font-size: 14px;
  align-self: center;
}

.home-title {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 3%;
}
.bottom-content {
  overflow: auto;
  height: 80%;
  width: 90%;
}
.bottom-content:hover {
  color: #aaaaaa;
  cursor: pointer;
}
body {
  background: #000000;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
a {
  color: #aaaaaa;
  text-decoration: none;
}
a:hover {
  cursor: pointer;
  color: white;
}

.page-selector {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

.page-selector > * {
  margin-right: 5%;
}
