.nav-bar {
  background-color: rgba(24, 24, 24, 1);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-around;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0%;
}

.profile-dropdown {
  float: right;
  position: absolute;
  top: 40px;
  right: 402px;
  overflow: hidden;
  max-height: 200px;
  z-index: 15;
  list-style: none;
  background-color: rgba(24, 24, 24, 1);
  height: 100px;
  width: 125px;
}

.about-me-dropdown {
  float: right;
  position: absolute;
  top: 40px;
  right: 550px;
  overflow: hidden;
  z-index: 15;
  list-style: none;
  background-color: rgba(24, 24, 24, 1);
  height: 136px;
  width: 133px;
}
.about-me-dropdown > * {
  margin-right: 25px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  height: 50px;
}

.profile-dropdown > * {
  margin-top: 10px;
}
.fa-github-square {
  font-size: 34px;
  margin-right: 25px;
  margin-top: 5px;
}
.fa-linkedin {
  font-size: 34px;
  margin-top: 5px;
}
.copy {
  margin-top: 15px;
}
.inner-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 54px;
  max-width: 975px;
  padding: 0 20px;
  width: 100%;
  z-index: 10;
}
.search-dropdown {
  background-color: transparent;
  float: right;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  top: 40px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 12px 0 0 0;
  width: 275px;
  height: 350px;
  z-index: 15;
  list-style: none;
  background-color: rgba(24, 24, 24, 1);
}
.search-dropdown > * {
  margin: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.search-dropdown > * > * {
  margin-right: 10px;
}

.search-dropdown > li :hover {
  background-color: #aaaaaa;
  color: white;
}
.fa-home {
  font-size: 25px;
}
